<div class="col-xs-6">
  <h4><%= license.title %></h4>
</div>
<div class="col-xs-6">

  <%= form_for order_item, remote: true do |f| %>
      <% if cart_view %>
          <div class="col-xs-6 text-right">
            <h4 class="text-right">
              Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span>
            </h4>
          </div>
          <%= f.hidden_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :license_id, value: license.id %>

          <div class="col-xs-6 text-right">
            <%= link_to "Remove", order_item, { data: { confirm: "Are you sure you wish to delete the license '#{order_item.license.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
          </div>
      <% else %>
          <h4 class="pull-right">
            <span style="color: green"><%= number_to_currency order_item.total_price %></span>
          </h4>
          <%= f.hidden_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :license_id, value: license.id %>
      <% end %>
  <% end %>
</div>